<template>
  <q-page class="row items-center justify-evenly">
    <scrambler></scrambler>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import Scrambler from "components/Scrambler.vue";

export default defineComponent({
  name: 'PageIndex',
  components: {Scrambler},
});
</script>
