<template>
  <div style="width: 100%">
    <q-list dense>
      <q-item>
        <q-btn-group>
          <q-btn label="-10" v-on:click="standard-=10;this.play()"/>
          <q-btn label="+10" v-on:click="standard+=10;this.play()"/>
        </q-btn-group>
      </q-item>
      <q-item>
        <q-btn-group>
          <q-btn label="-100" v-on:click="standard-=100;this.play()"/>
          <q-btn label="+100" v-on:click="standard+=100;this.play()"/>
        </q-btn-group>
      </q-item>
      <q-item>
        <q-btn-group>
          <q-btn label="-500" v-on:click="standard-=500;this.play()"/>
          <q-btn label="+500" v-on:click="standard+=500;this.play()"/>
        </q-btn-group>
      </q-item>
    </q-list>
    <q-list dense>
      <q-item>
        <q-item-section avatar>
          Freq
        </q-item-section>
        <q-item-section>
          <q-slider v-model="standard" :min="0" :max="15000" v-on:change="play" ></q-slider>
        </q-item-section>
        <q-item-section side>
          <q-input v-model="standard" style="width: 100px"></q-input>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          Pulse On
        </q-item-section>
        <q-item-section>
          <q-slider v-model="pulseOn" :min="1" :max="5000" v-on:change="play" ></q-slider>
        </q-item-section>
        <q-item-section side>
          <q-input v-model="pulseOn" style="width: 100px"></q-input>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          Pulse Off
        </q-item-section>
        <q-item-section>
          <q-slider v-model="pulseOff" :min="1" :max="5000" v-on:change="play" ></q-slider>
        </q-item-section>
        <q-item-section side>
          <q-input v-model="pulseOff" style="width: 100px"></q-input>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          Pan
        </q-item-section>
        <q-item-section>
          <q-slider v-model="pan" :min="-1" :max="1" v-on:change="play"></q-slider>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-toggle v-model="playing" icon="volume_up" v-on:click="play" size="xl"></q-toggle>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { ref } from 'vue'
import * as Pizzicato from 'pizzicato';

export default {
  name: "Scrambler",
  methods: {
    play: function (event){
      if (this.wave!=null){
        this.wave.stop();
      }
      if (this.playing){
        this.wave = new Pizzicato.Sound({
          source: 'wave',
          options: {
            frequency: this.standard
          }
        });

        // Pan
        this.wave.addEffect(new Pizzicato.Effects.StereoPanner({
          pan: this.pan
        }));


        this.wave.play();
      }
    }
  },
  data: function () {
    return {
      standard: ref(8500),
      pulseOn: ref(50),
      pulseOff: ref(1000),
      pan: ref(0),
      playing: ref(false),
      wave: new Pizzicato.Sound(),
    }
  }
}
</script>

<style scoped>

</style>
